.home{
    position: relative;
}
.add{
    position: fixed;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(70, 185, 70);
    top: 85%;
    left: 92%;
    color:white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 768px) {
.add {
    left: 80%;
}
}